@import "tailwindcss";

@theme {

  /*
    --color-*	Color utilities like bg-red-500, text-sky-300, and many more
    --font-*	Font family utilities like font-sans
    --text-*	Font size utilities like text-xl
    --font-weight-*	Font weight utilities like font-bold
    --tracking-*	Letter spacing utilities like tracking-wide
    --leading-*	Line height utilities like leading-tight
    --breakpoint-*	Responsive breakpoint variants like sm:*
    --container-*	Container query variants like @sm:* and size utilities like max-w-md
    --spacing-*	Spacing and sizing utilities like px-4, max-h-16, and many more
    --radius-*	Border radius utilities like rounded-sm
    --shadow-*	Box shadow utilities like shadow-md
    --inset-shadow-*	Inset box shadow utilities like inset-shadow-xs
    --drop-shadow-*	Drop shadow filter utilities like drop-shadow-md
    --blur-*	Blur filter utilities like blur-md
    --perspective-*	Perspective utilities like perspective-near
    --aspect-*	Aspect ratio utilities like aspect-video
    --ease-*	Transition timing function utilities like ease-out
    --animate-*	Animation utilities like animate-spin
  */

  /*colors*/
  --color-blue-zodiac: #0E1342;
  --color-blue-dodger: #1A8DFF;
  --color-blue-solitud: #E8F3FF;
  --color-gray-cod: #111111;
  --color-gray-silver: #CCCCCC;
  --color-gray-dove: #666666;
  --color-gray-boulder: #757575;

  --color-blue-main: var(--color-blue-zodiac);
  --color-blue-sub1: var(--color-blue-dodger);
  --color-blue-sub2: var(--color-blue-solitud);
  --color-black-main: var(--color-gray-cod);

  --color-gray-1: var(--color-gray-silver);
  --color-gray-2: var(--color-gray-dove);
  --color-gray-3: var(--color-gray-boulder);

  --font-inter: "Inter", Arial, "sans-serif";
}

body {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 0;
}
